In [1]:
import numpy as pd
import pandas as pd

In [2]:
df = pd.read_csv('data/admission_master.csv', low_memory=False)
df.head()

,ID,Accept,HSCity,HST,College,MAJR,Major Description,1ST GEN,RGPA,Rating,...,COLLEGE_CODE,DEGREE_TYPE,MAJOR_CODE,RESIDENT_CODE,ENROLL,JESUIT,HSNATION,RELIGION,APPLIED,Citizen_Category
0,214717,NaN,North Eastham,MA,Dolan School of Business,Business Undeclared,Business Undeclared,34,2.15,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,214861,NaN,Bridgeport,CT,Dolan School of Business,Marketing,Marketing,34,2.52,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,211022,NaN,Newark,NJ,Dolan School of Business,Marketing,Marketing,N,1.24,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211015,NaN,New York,NY,College of Arts and Sciences,Undeclared,Undeclared,N,1.90,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,204374,NaN,Danbury,CT,Dolan School of Business,Management,Management,34,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['ID', 'Accept', 'HSCity', 'HST', 'College', 'MAJR', 'Major Description',
       '1ST GEN', 'RGPA', 'Rating', 'P_M', 'Merit', 'DEC', 'APP_DESC', 'ACCP',
       'CONF', 'Citizen', 'Sex', 'RES', 'Class Rank', 'Class Size',
       'Class Percentile', 'Active City', 'Active Region', 'Active Postal',
       'Active Country', 'Ethnicity', 'Test Optional', 'Legacy',
       'SAT Math OLD', 'SAT WRI OLD', 'SAT Verbal OLD', 'Total SAT OLD', 'ACT',
       'SAT Reading NEW', 'SAT Math NEW', 'SAT Total NEW', 'Enroll',
       'College Code', 'SAT Critical Reading - conversion',
       'SAT Math - conversion', 'Citzen', 'Ethnicity Code', 'ADMIT_TYPE',
       'ADMT_DESC', 'COMP', 'APP_ENTRY_TERM', 'COLLEGE_CODE', 'DEGREE_TYPE',
       'MAJOR_CODE', 'RESIDENT_CODE', 'ENROLL', 'JESUIT', 'HSNATION',
       'RELIGION', 'APPLIED', 'Citizen_Category'],
      dtype='object')

In [4]:
df = df.drop(['Accept','Enroll','ENROLL'], axis=1)

In [5]:
df.columns

Index(['ID', 'HSCity', 'HST', 'College', 'MAJR', 'Major Description',
       '1ST GEN', 'RGPA', 'Rating', 'P_M', 'Merit', 'DEC', 'APP_DESC', 'ACCP',
       'CONF', 'Citizen', 'Sex', 'RES', 'Class Rank', 'Class Size',
       'Class Percentile', 'Active City', 'Active Region', 'Active Postal',
       'Active Country', 'Ethnicity', 'Test Optional', 'Legacy',
       'SAT Math OLD', 'SAT WRI OLD', 'SAT Verbal OLD', 'Total SAT OLD', 'ACT',
       'SAT Reading NEW', 'SAT Math NEW', 'SAT Total NEW', 'College Code',
       'SAT Critical Reading - conversion', 'SAT Math - conversion', 'Citzen',
       'Ethnicity Code', 'ADMIT_TYPE', 'ADMT_DESC', 'COMP', 'APP_ENTRY_TERM',
       'COLLEGE_CODE', 'DEGREE_TYPE', 'MAJOR_CODE', 'RESIDENT_CODE', 'JESUIT',
       'HSNATION', 'RELIGION', 'APPLIED', 'Citizen_Category'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54379 entries, 0 to 54378
Data columns (total 54 columns):
ID                                   54379 non-null int64
HSCity                               54217 non-null object
HST                                  52927 non-null object
College                              44400 non-null object
MAJR                                 44401 non-null object
Major Description                    33566 non-null object
1ST GEN                              46296 non-null object
RGPA                                 41233 non-null float64
Rating                               42016 non-null float64
P_M                                  22975 non-null object
Merit                                26423 non-null object
DEC                                  51989 non-null object
APP_DESC                             51989 non-null object
ACCP                                 34505 non-null object
CONF                                 5174 non-null object
Citizen                              33345 non-null object
Sex                                  54379 non-null object
RES                                  44400 non-null object
Class Rank                           7530 non-null float64
Class Size                           7529 non-null float64
Class Percentile                     6904 non-null float64
Active City                          44393 non-null object
Active Region                        53545 non-null object
Active Postal                        44068 non-null object
Active Country                       44393 non-null object
Ethnicity                            54118 non-null object
Test Optional                        54379 non-null object
Legacy                               9018 non-null object
SAT Math OLD                         17616 non-null float64
SAT WRI OLD                          17614 non-null float64
SAT Verbal OLD                       17616 non-null float64
Total SAT OLD                        17612 non-null float64
ACT                                  12899 non-null float64
SAT Reading NEW                      11451 non-null float64
SAT Math NEW                         11451 non-null float64
SAT Total NEW                        11451 non-null float64
College Code                         33040 non-null object
SAT Critical Reading - conversion    905 non-null float64
SAT Math - conversion                905 non-null float64
Citzen                               11055 non-null object
Ethnicity Code                       10767 non-null object
ADMIT_TYPE                           9978 non-null object
ADMT_DESC                            9978 non-null object
COMP                                 9978 non-null object
APP_ENTRY_TERM                       9978 non-null float64
COLLEGE_CODE                         9977 non-null object
DEGREE_TYPE                          9977 non-null object
MAJOR_CODE                           9977 non-null object
RESIDENT_CODE                        9978 non-null object
JESUIT                               512 non-null object
HSNATION                             228 non-null object
RELIGION                             9166 non-null object
APPLIED                              9978 non-null object
Citizen_Category                     9974 non-null object
dtypes: float64(16), int64(1), object(37)
memory usage: 22.4+ MB

In [7]:
names = []
val = []

for col in df.columns:
    names.append(col)
    val.append(df[df.columns].isnull().sum())
    break
    #### print out results as (column_name, # of null values in column_name)
print(names, val)

['ID'] [ID                                       0
HSCity                                 162
HST                                   1452
College                               9979
MAJR                                  9978
Major Description                    20813
1ST GEN                               8083
RGPA                                 13146
Rating                               12363
P_M                                  31404
Merit                                27956
DEC                                   2390
APP_DESC                              2390
ACCP                                 19874
CONF                                 49205
Citizen                              21034
Sex                                      0
RES                                   9979
Class Rank                           46849
Class Size                           46850
Class Percentile                     47475
Active City                           9986
Active Region                          834
Active Postal                        10311
Active Country                        9986
Ethnicity                              261
Test Optional                            0
Legacy                               45361
SAT Math OLD                         36763
SAT WRI OLD                          36765
SAT Verbal OLD                       36763
Total SAT OLD                        36767
ACT                                  41480
SAT Reading NEW                      42928
SAT Math NEW                         42928
SAT Total NEW                        42928
College Code                         21339
SAT Critical Reading - conversion    53474
SAT Math - conversion                53474
Citzen                               43324
Ethnicity Code                       43612
ADMIT_TYPE                           44401
ADMT_DESC                            44401
COMP                                 44401
APP_ENTRY_TERM                       44401
COLLEGE_CODE                         44402
DEGREE_TYPE                          44402
MAJOR_CODE                           44402
RESIDENT_CODE                        44401
JESUIT                               53867
HSNATION                             54151
RELIGION                             45213
APPLIED                              44401
Citizen_Category                     44405
dtype: int64]